.mainstyle {
  width: 100%;
  height: 768px;

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    width: 75%;
    background-color: green;
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    width: 50%;
    height: 768px;
    background-color: pink;
    background-repeat: 'repeat'
  }
}

.maincontentstyle {
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
  color: #ffffff;
  font-weight: bold;
  background-color: blue;
  padding: 30px;

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    background-color: green;
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    position: absolute;
    margin-left: 620px;
    margin-top: 40px;
    color: #ffffff;
    font-weight: bold;
    background-color: blue;
    padding: 30px;
  }
}
